* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
}

html,
body {
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  padding-top: 16px;
}

p:first {
  padding-top: 0px;
}

strong {
  color: #009966;
}

.max-width-wrapper {
  max-width: 752px;
  margin: auto
}

header {
  padding: 96px 0 64px;
  border-bottom: 8px solid #999999;
}

header .intro-chunk {
  padding: 0 24px 0;
  max-width: 400px
}

main {
  background: #666666;
  padding: 64px 0;
}

main .card {
  background: white;
  padding: 8px 24px 24px;
}

main .indented-heading {
  width: fit-content;
  background: #ffbf00;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid #cc9900;
}
